body {
    background-color: rgb(100, 100, 100);
}

.container {
    box-sizing: border-box;
    display: block;
    width: 500px;
    height: 400px;
    background-color: rgb(161, 161, 161);
    margin: auto;
    margin-top: 80px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    box-shadow: 0 0 10px #969695;
    border-radius: 20px;
}

/* فاصله فقط از بالا */
.logo-top {
    padding-top: 25px;
}

/* عکس و بردرش */
.logo-img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px dashed rgb(76, 76, 76);
    margin: auto;
}

.border-logo {
    border: 2px dotted gray;
}

/* متن‌ها */
.name {
    width: 350px;
    margin:25px auto;
    font-family: vazir;
    font-size: 25px;
    color: #383838;
    margin-top: 30px;
    border-bottom: 5px solid rgb(212, 212, 212);
}

.desc {
    font-size: 14px;
    color: rgb(64, 64, 64);
    margin-top: 5px;
}

/* آیکون‌ها */
.social {
    background-color: rgb(204, 204, 204);
    padding: 15px 0;
    margin-top: 20px;
}

.sociallogo {
    background-color: lightgray;
    display: inline-block;
    width: 40px;
    margin: 0 10px;
}
